@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  overflow-x: hidden;
}

#heading {
  overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
